name: Build snap and run tests

on:
  workflow_call:
    outputs:
      snap-file:
        description: "The snap output of build process."
        value: ${{ jobs.build.outputs.snap-file }}

jobs:
  build:
    name: Build Snap
    runs-on: ubuntu-latest
    timeout-minutes: 30 
    outputs:
      snap-file: ${{ steps.build-snap.outputs.snap }}
    steps:
      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v4
      - id: build-snap
        name: Build snap
        uses: snapcore/action-build@2ee46bc29d163c9c836f2820cc46b39664bf0de2
        with:
          snapcraft-channel: 7.x/candidate
      - id: upload
        name: Upload built snap job artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-snap.outputs.snap }}
          path: ${{ steps.build-snap.outputs.snap }}

  test:
    name: Test Snap
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: build
    steps:
      - name: Download snap file
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.snap-file }}
          path: .

      - name: Install snap file
        run: |
          sudo snap install ${{ needs.build.outputs.snap-file }} --dangerous

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup upterm session
        uses: lhotari/action-upterm@v1

      - name: Run Integration Tests
        run: |
          make integration-tests

